
.site-navigation{
    height: 6.5rem;
    width: 100%;
    background: $color-white;
    display: flex;
    justify-content: space-between;
    color: $color-text-primary;
    background-color: $color-white;

    .menu-title{
        font-size: 2.5rem;
        font-weight: 400;
        display: flex;
        align-items: center;
        margin-left: 3rem;
    }

    .menu-content-container{
        display: flex;
        align-items: center;
        margin-right: 3rem;

        .ant-avatar{
            background: $color-background;
            border: 1px solid $color-border;
        }

        .menu-avatar-name{
            font-size: 1.8rem;
            margin-left: 1.5rem;
        }

    }

    .ion-ios-menu{
        font-size: 3.5rem;
        width: 6.5rem;
        align-items: center;
        cursor: pointer;
        display: none;
    }

    a{
        text-decoration: none;
        padding: 0 2rem 0 2rem;
        font-size: 2rem;
        color: $color-text-primary;

        &:hover {
            color: $color-link-hover;
        }
    }

    ul{
        height: 100%;
        display: flex;
        list-style-type: none;
        margin-right: 2rem;
        align-items: center;
        margin-bottom: 0;
    }
}

@include respond(tab-port){
    .site-navigation{
        .menu-content-container{
            width: 30rem;
            height: calc(100% - 6.5rem );
            background: $color-white;
            position: absolute;
            top: 6.5rem;
            left: -30rem;
            transition: 0.2s ease left; 
            flex-direction: column-reverse;

            ul{
                flex-direction: column;
                justify-content: flex-start;       
                margin-top: 4rem; 
                
                a{
                    margin-top: 1rem;
                }
            }
            
            &.active{
                left: 0;      
            }
        }
        .ion-ios-menu{
            display: flex;
        }
    }
}